#game-area{
	height: 400px;
	width: 400px;
	border: 1px solid black;
	position: relative;
	margin: 50px 50px;
	display: block;
}

.game-tile{
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
}

.active{
	background-color: firebrick;
}

#options{
	display: block;
}

#display{
	position: fixed;
	top: 25px;
	right: 25px;
	border: 1px solid black;
}