#game-area{
	height: 600px;
	width: 600px;
	border: 1px solid black;
	position: relative;
	top: 50px;
	left: 50px;
}

.game-tile{
	box-sizing: border-box;
	border: 1px solid black;
	width: 200px;
	/*height: 200px;*/
	float: left;
}

.game-tile:hover{
	background-color: firebrick;
}