#game-area{
	height: 300px;
	width: 300px;
	border: 1px solid black;
	position: relative;
	top: 50px;
	left: 50px;
}

.game-tile{
	box-sizing: border-box;
	border: 1px solid black;
	/*width: 200px;*/
	/*height: 200px;*/
	float: left;
}

.active{
	background-color: firebrick;
}