#game-area{
	height: 500px;
	width: 500px;
	border: 1px solid black;
	position: relative;
	display: block;
}

#game-area,
#options-area,
#game-display{
	float: left;
	margin: 50px;
}

.game-tile{
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
}

.active{
	background: url(/img/mole.jpg);
	background-size: cover;
}

#options-area{
	display: inline-block;
	padding: 15px;
	background-color: rgb(0,100,0);
	border-radius: 10%;
}

#game-display{
	border: 1px solid black;
	padding: 10px;
}

.options-select{
	display: block;
	margin: 10px;
}

.display-element{
	padding: 5px;
}

h2,
label{
	color: white;
}

button{
	padding: 10px 15px;
	color: white;
	background-color: black;
}